{% extends 'admin_home.html' %}
{% block body %}
<br>
<h1>Danh sách mượn</h1>
{% if historys %}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tên sách</th>
            <th>Username</th>
            <th>Ngày mượn</th>
            <th>Ngày trả</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for history in historys %}
        <tr style="cursor:pointer;">
            <td>{{history.borrowing_id}}</td>
            <td>{{history.title}}</td>
            <td>{{history.username}}</td>
            <td>{{history.borrow_date}}</td>
            <td>{{history.due_date}}</td>
            <td><a href="borrow_submit/{{history.borrowing_id}}" class="btn btn-primary pull-right">Xác nhận</a></td>
            <td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}